body {
  background-color: #87ceeb; 
}
img {
  display: block;
  margin: auto;
}
h1 {
  color: hsl(210, 50%, 40%); 
  font-size: 45px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
